.content{}
/*右侧内容*/
.side_right{}
.side_title{height: 60px;;line-height: 60px;border-bottom: 1px solid #EDEDED;font-size: 16px;padding-left: 50px;}
/*选择时间*/
.side_part{padding: 0 50px;margin-top: 40px;}
.search{margin-right: 40px;}
.search input{width: 250px;height: 38px;border: 1px solid #D2D2D2;outline: none;border-radius:5px;text-indent: 20px;}
.query{width: 100px;height: 40px;border: 1px solid #1C7BF9;border-radius: 5px;color: #1C7BF9;background: #fff;outline: none;cursor: pointer;}
.query:hover{background: #1C7BF9;border: 1px solid #EAEAEA;color: #fff;}
.query:active{color: #333;}
/*表格*/
.table{border-collapse: collapse;width: 100%;margin-top: 50px;overflow: hidden;}
.table th,.table td{border: 1px solid #D2D2D2;text-align: center;padding: 10px 0;}
.del_date:hover{color: #1C7BF9;cursor: pointer;}
/*分页*/
.paging{text-align: center;margin-top: 60px;}
.page_list{border: 1px solid #C1C1C1;padding: 8px 16px;margin-right: 20px;cursor: pointer;border-radius: 5px;color: #666;}
.page_list:hover{border: 1px solid #1C7BF9;color: #1C7BF9;}
.page_now,.page_all{float: right;margin-left: 15px;color: #666;}





