.content{padding-top: 50px;padding-bottom: 100px;}
.agreement_content{width: 860px;margin: auto;}
.agreement_title{text-align: center;font-size: 16px;font-weight:bold;}
.agreement_part{margin-top: 30px;line-height: 24px;}
.agreement_part p{line-height: 24px;}