/*侧边栏 - 右侧*/
.side_part{padding-top: 40px;}
.side_title{padding-right: 40px;width: 165px;line-height: 24px;text-align: right;}
.side_content{color: #B4B4B4;line-height: 20px;}
.side_content_p{margin-bottom: 30px;}
/*派遣企业名称*/
.signing_company_name{color: #333;line-height: 24px;}
/*劳动合同*/
.contract{margin-bottom: 30px;}
.contract_pdf{color: #666;margin-right: 40px;}
.contract_del{color: #0561FF;}
.contract_del:hover{text-decoration: underline;cursor: pointer;}
.btn_download_muban,.btn_qyht{width: 120px;height: 36px;border-radius: 5px;background: #E5EEFF;border: 1px solid #C8DBFF;color: #0561FF;outline: none;cursor: pointer;}
.btn_qyht{margin-left: 30px;position: relative;}
.btn_qyht input{width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: 0;cursor: pointer;}
/*协议打钩*/
.agree_contract{padding-left: 164px;margin-top: 40px;font-size:12px;}
.agree_right{display: inline-block;position: relative;width: 16px;height: 16px;border: 1px solid #C8DBFF;cursor: pointer;margin-right: 10px;}
.agree_right:hover{border: 1px solid #4C9BF0;}
.tick:before,.tick:after{content: '';pointer-events: none;position: absolute;border: 1px solid #0561FF;}
.tick:before{width: 1px;height: 0px;left: 22%;top: 50%;transform: skew(0deg, 50deg);}
.tick:after{width: 4px;height: 0px;left: 42%;top: 40%;transform: skew(0deg, -50deg);}
.agree_contract a{color: #666;}
.agree_contract a:hover{color: #0561FF;text-decoration: underline;}
/*提交*/
.signing{padding-left: 164px;margin-top: 24px;}
.sub{width: 140px;height: 40px;background: #0561FF;border: 1px solid #0561FF;color: #fff;font-weight: bold;cursor: pointer;outline: none;border-radius: 5px;margin-bottom: 100px;}
.sub:hover{background: #4C9BF0;border: 1px solid #4C9BF0;}
/*hover*/
.btn_yyzz:hover,.btn_download_muban:hover,.btn_qyht:hover{color: #4C9BF0;}