/*公共样式*/
*{margin: 0;padding: 0;}
a{color: #333;text-decoration: none;}
ul{list-style: none;}
.container{min-width: 1200px;color: #333;font-size: 14px;font-family: "microsoft yahei";}
.cf {clear: both;}
.cf:after {content: '';clear: both;overflow: hidden;display: block;height: 0;font-size: 0;}
.fl{float: left;}
.fr{float: right;}

/*左侧边栏*/
.side_bar{width: 260px;min-height: 960px;background: #ECF0F6;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.logo{padding: 22px 0;text-align: center;}
.logo img{cursor: pointer;}
.nav{}
.nav_title{padding-left: 50px;font-size: 16px;color: #42424C;height: 42px;line-height: 42px;font-weight: bold;}
.nav_side li{padding-left: 60px;height: 42px;line-height: 42px;color: #666;cursor: pointer;border-left: 5px solid #ECF0F6;}
.nav_active{background: #FFF !important;border-left: 5px solid #0561FF !important;color: #0561FF !important;}
.nav_side li:hover{color: #0561FF;}

/*右侧边栏*/
.side_right{width: calc(100% - 260px);}
/*头部*/
.header{width: 100%;height: 80px;background: #FFFFFF;border-bottom: 1px solid #EDEDED;}
.header_title{padding-left: 40px;line-height: 80px;font-size: 16px;}
.b_back:hover{color: #0561FF;cursor: pointer;}
.sign_out{margin-top: 30px;margin-right: 52px;position: relative;cursor: pointer;}
.sign_out img{width: 20px;height: 20px;}
.sign_out .log_out{position: absolute;bottom: -40px;left:-40px;width: 100px;height: 30px;text-align: center;line-height: 30px;border: 1px solid #ccc;border-radius: 5px;background: #fff;display: none;}
.sign_out .log_out:hover{color: #1C7BF9;cursor: pointer;}
.company_name{line-height: 80px;margin-left: 20px;margin-right: 32px;font-size: 16px;}
.tx{margin-top: 23px;width: 34px;height: 34px;border-radius:17px;overflow: hidden;}
.tx img{width: 34px;height: 34px;}
/*内容*/
.content{min-height:760px;}





/* footer */
.footer{background: #F8F8F8;border-top: 1px solid #ECECEC;padding: 30px 0 30px;}
.footer1{text-align: center;}
.footer1 a{color: #6E6E6E;}
.footer1 span{color: #BFBFBF;margin: 0 15px;}
.footer2{margin-top: 20px;text-align: center;color: #6E6E6E;}
.footer2 span:nth-child(1){margin-right: 40px;}

/*分页*/
.page{margin-top: 30px;font-size: 12px;}
.page_total{margin-right: 20px;line-height: 28px;}
.page_num{width: 100px;height: 28px;text-align: center;line-height: 26px;margin-right: 20px;border: 1px solid #E5E5E5;border-radius: 4px;}
.page_choose1{margin-right: 30px;}
.page_prev,.page_now,.page_next{display: block;width: 30px;height: 28px;text-align: center;line-height: 26px;background: #F5F7F9;border-radius:2px;font-weight:bold;cursor: pointer;color: #999;border: 1px solid #F5F7F9;}
.page_now{background: #0561FF;margin-left: 10px;margin-right: 10px;color: #fff;border: 1px solid #0561FF;}
.page_prev:hover,.page_next:hover{background: #fff;}
.page_now:hover{background: #4C9BF0;border: 1px solid #4C9BF0;}
.page_choose2{line-height: 28px;}
.go_to{cursor: pointer;}
.go_to:hover{color: #0561FF;}
.go_to:active{color: #333;}
.page_to{margin-left: 5px;margin-right: 5px;width: 46px;height: 28px;border: 1px solid #E5E5E5;border-radius:4px;text-align: center;outline: none;}





