.container{width:970px;padding: 15px;margin-top: 20px;-moz-box-shadow: 5px 5px 30px #999;-webkit-box-shadow: 5px 5px 30px #999;box-shadow: 5px 5px 30px #999;}
.header{margin-top: 20px;margin-bottom: 30px;}
.header div{width: 50%;font-size: 16px;}
.header div:nth-child(1) p{text-align: right;padding-right: 20px;}
.header div:nth-child(2) p{padding-left: 20px;}
.content{margin-bottom: 30px;}
.content .title{font-size: 16px;font-weight: bold;margin-bottom: 15px;}
.today_finish,.tomorrow_plan{border: 1px solid #ccc;min-height: 100px;padding: 10px;line-height: 150%;}
.btn{float: right;margin: 30px 0;}
.sub{background: #15c2f5;width: 120px;text-align: center;height: 38px;line-height: 38px;color: #fff;cursor: pointer;border: 1px solid #15c2f5;border-radius: 8px;outline: none;font-size: 16px;}
.sub:hover{background: #00aeff;border: 1px solid #ccc;}
.sub:active{color: #666;}
.footer{margin-top: 15px;height: 40px;line-height: 40px;text-align: center;}
.footer span:nth-child(1){position: relative;}
.footer span:nth-child(1) font{font-size: 24px;position: absolute;left: -20px;}
.footer span:nth-child(2){margin-left: 10px;margin-right: 5px;}
.footer span:nth-child(3){font-weight: bold;}