
/* header样式 */
.sr_met_head{
    position: fixed;
    left:0;
    padding:0 95px 0 40px;
    top:0;
    right: 5px;
    width: 100%;
    height: 75px;
    line-height: 75px;
    z-index: 1500;
    border-bottom: 1px solid #ececec;
    /* background: #ffffff; */
}
.sr_met_head .sr-nav{
    display: flex;
}
.sr_nav_logo{
    position: absolute;
    top: 0;
    left: 40px;
    height: 100%;
    font-size: 0;
    max-width: 45%;
    z-index: 3;
}
.sr_nav_logo img{
    height: 100%;
    padding: 10px 0;
}
.sr_nav_box{
    width: 630px;
    float: right;
    overflow: hidden;
    position: relative;
    right: 120px;
    z-index: 2;
}
.sr_nav_box .sr_nav_ul{
    display: block;
    margin:0;  
    /* width: 3999px; */
}
.sr_nav_box .sr_nav_ul .sr_nav_li{
    float: left;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}
.sr_nav_box .sr_nav_ul .sr_nav_li a{
    display: block;
    position: relative;
    color: #444444;
}
.sr_nav_box .sr_nav_ul .active.active1 a:after{
    background: #ffffff;
}
 .sr_nav_box .sr_nav_ul .active a:after{
    background: #e3120b; 
   /*  background: #ffffff;*/
}
.sr_nav_ul a:after{
    width: 100%;
    content: '';
    height: 3px;
    position: absolute;
   /*  background: #444444;
     background: #ffffff; */
    transition: all .6s ease;
    top: 72px;
}
.sr_nav_box .sr_nav_ul .sr_nav_li a b{
    display: block;
    padding: 0 25px;
    font-weight: normal;
    position: relative;
    z-index: 2;
    color: #444444;
   /*  color: #ffffff; */
   transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    -webkit-transition: color .3s;
    padding: 0 25px;
    z-index: 2;
    font-size: 15px;

}
.sr_nav_side{
    width: 32px;
    height: 32px;
    position: fixed;
    right: 40px;
    top: 22.5px;
    cursor: pointer;
    z-index: 1501;
    transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    -webkit-transition: all ease 0.6s;
}
.sr_nav_side hr:nth-child(1){
    width: 20px;
    top: 8px;
    right: 5px;
    left: 5px;
}
.sr_nav_side hr:nth-child(2) {
    width: 20px;
    top: 50%;
    left: 5px;
    margin-top: -1px;
    opacity: 1;
    right: 5px;
}
.sr_nav_side hr:nth-child(3) {
    width: 20px;
    bottom: 8px;
    right: 5px;
    left: 5px;
}
.sr_nav_side hr{
    height: 1px;
   /*  background: #444444; */
    background: #ffffff;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    -webkit-transition: all ease 0.6s;
}
/* 侧边 */
.sr_side_box{
    position: fixed;
    width: 300px;
    right: 300px;
    background: #fff;
    display: none;
    height: 100%;
    z-index: 99991;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    top: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
/* .sr_side_box{
    transform: translateX(0);
} */
.sr_side_box .sr_side_cut{
    height: 100%;
}
.sr_side_box .sr_side_cut .sr_side_shadow{
    height: 100%;
    width: 3999px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 99;
    top: 0;
    right: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
}
.sr_side_cut .sr_side_nav{
    background: rgb(255, 255, 255);
    z-index: 1000;
   /*  overflow-y: auto; */
    position: relative;
}
.sr_side_close{
    float: right;
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    color:#8c8c8c;
    margin-top:20px;
    margin-right:20px;
}
.sr_side_close img{
    width: 30px;
    height: 30px;
}
.sr_icon_close:before{
    content: "\e680";
}
.sr_logo_2{
    padding: 46px 30px 30px 30px;
    text-align: left;
}
.sr_logo_2 img{
    width: 100%;
    max-width: 200px;
    margin-top: -47px;
    /* opacity: 0; */
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    transform: translateY(100%);
}
.sr_navList{
    min-height: 100%;
    margin-bottom: 70px;
}
.sr_navList .sr_nav_item{
    transition-delay: 0ms;
    position: relative;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    transform: translateY(100%);
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
   /*  opacity: 0; */
}
.sr_navList li .link{
    border-bottom: 1px solid;
    border-color: #8c8c8c;
    color:#444444;
    font-weight: 500;
}
.sr_navList li a.link{
    transition: all .4s ease;
    font-size: 16px;
    color: #444444;
   /*  color: ; */
    width: 100%;
    display: block;
    text-align: left;
    padding: 20px 30px;
    height: 60px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sr_navList li:hover a{
    background:rgb(227, 18, 11);
    color:#fff;
}
.sr_navList li:hover a .nav-plus:after,.sr_navList li:hover a .nav-plus:before{
    background: #fff;
}
.nav-plus:before{
    position: absolute;
    top: 50%;
    content: " ";
    right: 20px;
    margin-top: -1px;
    width: 10px;
    height: 2px;
    background-color: #8c8c8c;
    /* background-color: ; */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
}
.nav-plus:after{
    position: absolute;
    top: 50%;
    content: " ";
    right: 20px;
    margin-top: -1px;
    width: 10px;
    height: 2px;
    background-color: #8c8c8c;
   /*  background-color: ; */
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
}
.sr_side_foot{
    padding: 30px 30px 25px 30px;
    text-align: left;
    /* overflow: hidden; */
}
.sr_side_qrcode{
    margin:0 auto;
    width: 140px;
    height: 140px;
}
.sr_side_qrcode img{
    width: 100%;
    height: 100%;
    margin-top: -80px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    transform: translateY(100%);
}
.sr_side-phone{
    font-size:16px;
    letter-spacing: -1px;
    text-align: left;
    color:#444444;
    border-bottom: 1px solid #8c8c8c;
    margin-top:120px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    transform: translateY(100%);
}
.sr_side-phone p {
    margin-bottom: 10px;
}
.sr_side-phone p a{
    color:#444444;
} 
/* footer */
.sr_foot{
    line-height: 1.8;
    background-color: #f8f8f8 !important;
    height: 90px;
    width: 100%;
    position: relative;
    /* bottom:0; */
    background-size: cover;
    /* overflow: hidden; */
    background-position: center top;
    transition: visibility 0s 0.5s;
    z-index: 9999;
}
.sr_foot .sr_left{
    float: left;
    text-align: left;
}
/* .breadcrumb-item{
    float: left;
} */
.breadcrumb{
    display: flex;
}
.breadcrumb-item,.breadcrumb-item a{
    color:  #6e6e6e;
}
.breadcrumb-item:nth-child(1):before{
    content:"";
}
.breadcrumb-item:before{
    display: inline-block;
    content: '/';
    color: #ccd5db;
}
.powered_by_metinfo{
    color: #6e6e6e;
}
.powered_by_metinfo a{
    color: #62a8ea;
}
@media(max-width:990px){
    .sr_nav_box{
        display: none;
    }
}
@media (max-width: 767px){
    .sr_met_head{
        padding: 0 58px 0 15px;
        height: 60px;
        line-height: 60px;
    }
}